<div class="container border">
    <main role="main" class="pb-3">
        <div class="post-preview p-1">
            <img src="/assets/img/home-bg.jpg" width="300px" height="160px"/>
            <p class="text-primary fw-bold p-0">ABOUT ME</p>
            <p class="text-justify p-0 m-0">Actually there is nothing here for you to explore except me. If you want to know more about a good boy like me, let continue reading this blog.</p>
        </div>
    </main>
</div>