@using FA.JustBlog.Core.Models;
@using FA.JustBlogMVC.Views.HtmlCustomHelper;


@model List<Tag>

<h1 class="fs-2 text-primary">@ViewBag.myStringTitle</h1>
<div class="container">
    <div class="row">

        @foreach (var tag in Model)
        {
@*             <div class="col-3" style="padding: 0 5px">
                <a class="border rounded text-center bg-primary text-light" asp-controller="Tag" asp-action="GetTagByCate" asp-route-tag="@tag.Name">@tag.Name</a>
            </div> *@
            //@Html.TagLinkHelper(tag.Name)
            @Html.TagLinkHelper(tag.Name)
        }
    </div>
</div>
