@using FA.JustBlog.Core.Models;
@using FA.JustBlogMVC.Views.HtmlCustomHelper;

@model List<Category>
@foreach (var CateItem in Model)
{
    <li class="nav-item">
        @* <a class="nav-link text-light" asp-controller="Post" asp-action="GetPostByCate" asp-route-Category="@CateItem.Name">@CateItem.Name</a> *@
        @Html.CategoryLinkHelper(CateItem.Name, "text-light")
    </li>
}